<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= url("/stylesheet.css") %>">
  <style>
    body {
      background-image: url("/jeff.jpg");
    }
  </style>
</head>

<body>

<h2 class='property'>Edit your space</h2>

<form action="/spaces/update" method="post" class="property">
  <label for="name">Space name</label>
  <input type="text" name="name" value="<%= @edit_space.name %>">
  <br>
  <label for="description">Description</label>
  <input type="text" name="description" value="<%= @edit_space.description %>">
  <br>
  <label for="price">Price</label>
  <input type="text" name="price" value="<%= @edit_space.price %>">
  <br>
  <label for="available_from">Available From</label>
  <input type="text" name="available_from" value="<%= @edit_space.available_from %>">
  <br>
  <label for="available_to">Available To</label>
  <input type="text" name="available_to" value="<%= @edit_space.available_to %>">
  <br>
  <input class="button" type="submit" name="update" value="Update">
</form>

<form class="back" action="/spaces" method="get">
  <button class="button" type="submit" name="Back">Back</button>
</form>

<img src='https://i.telegraph.co.uk/multimedia/archive/01728/dinocrane_1728734a.gif'>

</body>

</html>
