<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  <link rel="styleSheet" typle="text/css" href="<%= url("/styleSheet.css") %>">
</head>

<body>

  <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>

  <h1>Welcome to Jurassic Park, <%= @user.name %></h1>

  <br>
  <form action="/create">
    <button class="button">Create new listing</button>
  </form>
  <br>
  <h1> A list of all spaces: </h1>
  <% @spaces.each do |space| %>
  <div>
    Name: <%= space.name %>
    <br>
    Description: <%= space.description %>
    <br>
    Price per day: £<%= space.price %>
    <br>
    Available from: <%= space.available_from %>
    <br>
    Available to: <%= space.available_to %>
  </div>
  <form action="/spaces/edit" method="post">
    <button class="button" type="submit" name="Edit" value="<%= space.id %>">Edit</button>
  </form>
  <form action="/spaces/request" method="post">
    <button class="button" type="submit" name="Request" value="<%= space.id %>">Request</button>
  </form>
  <% end %>

</body>

</html>
